<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5"/>
    <meta name="theme-color" content="#448AFF">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#448AFF">
    <meta name="apple-mobile-web-app-title" content="Relationship advisor">

    <title>Relationship advisor</title>

    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    <link rel="stylesheet" href="index.css" type="text/css"/>
  </head>
  <body>
    <div id="app">
      <!--
      <h1>categoryKeys</h1>
      <ul>
        <li v-for="category in categoryKeys">{{category}}</li>
      </ul>
      <h1>categoryValues</h1>
      <ul>
        <li v-for="(category, option) in categoryValues">{{category}} : {{option}}</li>
      </ul>
      <h1>answers</h1>
      <ul>
        <li v-for="answer in answers">{{answer}}</li>
      </ul>
      -->
      <div v-if="debug">
        <button v-on:click="parseCategories()">[DEBUG] import categories from js file to PouchDB</button>
        <button v-on:click="parseAnswers()">[DEBUG] import answers from js file to PouchDB</button>
        <button v-on:click="prepareSelectList()">[DEBUG] Fill select options (vue categoriesList) from all categories (pouchdb category)</button>
        <p>[DEBUG] URL Question Input:</p>
        <input v-model="question" aria-label="Question">
        <button v-on:click="parseQuestion()">[DEBUG] Parse URL Question</button>
        <p>[DEBUG] URL parameter: {{ this.$route.params }}</p>
        <router-view></router-view>
      </div>
      <div v-for="category in categoriesList" v-if="category.isAvailable">
        <select v-model="category.selectedOption" required>
          <option :value="null" disabled selected>{{ category.categoryName }}</option>
          <template v-for="option in category.optionMap">
            <option v-if="option.isAvailable" v-bind:value="option.optionName">
              {{ option.optionName }}
            </option>
          </template>
        </select>
      </div>
      <button v-on:click="updateSelectList()">Update select options from remaining answers</button>
      <p>Question:</p>
      <p>{{ question }}</p>
      <p>Answer:</p>
      <p>{{answer}}</p>
    </div>

    <noscript>Sorry, your browser does not support JavaScript!</noscript>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/pouchdb/6.4.3/pouchdb.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.1/vue-router.min.js"></script>
    <script src="vuepouch.js"></script>
    <script src="answers.js"></script>
    <script src="categories.js"></script>
    <script src="index.js"></script>
	  <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function() {
          navigator.serviceWorker.register("worker.js").then(function(registration) {
            console.log("ServiceWorker registration successful with scope: ", registration.scope);
          }, function(err) {
            console.log("ServiceWorker registration failed: ", err);
          });
        });
      }
    </script>
    <script>
      //new PouchDB("relationshipadvisor").destroy().then(function () {
      //    // database destroyed
      //  }).catch(function (err) {
      //    // error occurred
      //  })
    </script>
  </body>
</html>